.header-style {
    background-image: url("../../../../assets/images/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    position: relative;
    color: white;
}
